.home-page {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.hero-container {
    display: flex;
    flex: 1;
    margin: 0% 10%;
    flex-direction: column;
}

.hero {
    gap: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
}

.hidden-content {
    opacity: 0;
    animation: none;
}

.hero.blurred {
    filter: blur(16px);
    pointer-events: none;
}

.hero .image-container {
    position: relative;
    width: clamp(140px, 35vh, 420px);
    aspect-ratio: 1;
    perspective: 1000px;
    -webkit-perspective: 1000px;
    /* Added vendor prefix */
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    z-index: 2;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Force hardware acceleration */
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.flip-card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

.hero img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    border: 1px solid rgba(255, 154, 243, 0.5);
    box-shadow: 0 0 4px rgba(255, 154, 186, 0.5);
    transition: all 0.3s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.hero .image-glow {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    background: linear-gradient(270deg, rgba(197, 95, 244, 0.8), rgba(234, 59, 59, 0.8));
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: bubble-effect 6s ease-in-out infinite alternate;
    z-index: 0;
    filter: blur(40px);
}

.image-container:hover .image-glow {
    opacity: 0.8;
}

.image-container::before {
    content: "";
    position: absolute;
    inset: -2px;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    transition: border-color 0.3s ease;
    z-index: 2;
    pointer-events: none;
}

.image-container:hover::before {
    border-color: rgba(255, 168, 168, 0.717);
}

.hero h1 {
    text-align: center;
    font-size: clamp(3rem, calc(0.9rem + 5vh), 5rem);
    color: white;
    position: relative;
    font-weight: 800;
    text-transform: capitalize;
    min-height: 2em;
}


.hero p {
    text-align: center;
    font-size: clamp(1rem, calc(0.5rem + 2vh), 2rem);
    line-height: 1.8;
    color: #d1d1d1;
    position: relative;
}

.hero h1 span.gradient {
    background: linear-gradient(90deg, rgba(197, 95, 244, 1), rgba(234, 59, 59, 1));
    background-size: 175% auto;
    /* Make the background wider */
    background-position: -200px 0;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    transition: background-position 3s ease;
    will-change: background-position;
}

.hero h1 span.gradient:hover {
    background-position: 100% 0;
    /* Shift the gradient on hover */
}

.typing::after {
    content: "|";
    display: inline-block;
    animation: blink 0.3s step-start infinite;
    margin-left: 2px;
}

/* Button Styles */
.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(20px, 2vw, 40px);
    font-size: clamp(1rem, 2.5vh, 2rem);
    font-weight: 600;
}

.hero-connectbtn {
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    display: inline-block;
    position: relative;
    display: inline-block;
    padding: clamp(12px, 2vw, 18px) clamp(20px, 5vw, 36px);
    text-align: center;
    border-radius: 48px;
    border: 2px solid white;
    overflow: hidden;
    cursor: pointer;
}

.hero-viewbtn {
    all: unset;
    position: relative;
    display: inline-block;
    padding: clamp(12px, 2vw, 18px) clamp(18px, 5vw, 36px);
    text-align: center;
    border-radius: 48px;
    border: 2px solid white;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;

}

.hero-connectbtn:hover,
.hero-viewbtn:hover {
    background: linear-gradient(270deg, rgba(164, 45, 204, 0.9), rgba(231, 77, 71, 0.9));
    border-color: transparent;
    background-size: 110% 110%;
    background-position: -4px;
    box-shadow: 0px 4px 20px rgb(255, 117, 112);
    transform: scale(1.05) translateY(-5px);

}

/* Work Options Overlay */
.work-options-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.work-options-container {
    display: grid;
    width: 80%;
    gap: 6vw;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    place-items: center;
}

.work-option-box {
    aspect-ratio: 4 / 3;
    /* Automatically calculates the proper height */
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.05);
    position: relative;
}

.work-option-box:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 15px rgba(223, 112, 243, 0.6),
        0 0 25px rgba(231, 77, 71, 0.75);
}

.option-image-container {
    width: 100%;
    height: 100%;
}

.option-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.8);
    transition: all 0.3s ease;
}

.work-option-box:hover .option-image-container img {
    transform: scale(1.1);
    filter: brightness(0.25) blur(4px);
}

.work-option-box:active .option-image-container img {
    transform: scale(2);
}


.work-option-box:hover h2 {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 2px white;
}

.option-glow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(188, 78, 238, 0.4), rgba(234, 59, 59, 0.3));
    background-size: 200% 200%;
    opacity: 0;
    transition: opacity 0.3s ease;
    animation: gradient-shift 10s ease infinite;
    z-index: 1;
}

.work-option-box:hover .option-glow {
    opacity: 1;
}

.work-option-box h2 {
    color: rgba(255, 255, 255, 0.75);
    font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
    text-shadow: 0 2px 5px black;
    font-weight: 700;
    bottom: 0;
    width: 100%;
    left: 50%;
    margin: 0;
    text-align: center;
    transform: translate(-50%, -25%);
    position: absolute;
    z-index: 2;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Animation Classes */
.pop-in {
    opacity: 0;
    transform: translateY(15px);
    animation: popIn 0.3s ease forwards;
}

.work-option-box.pop-in:nth-child(1) {
    animation-delay: 0.1s;
}

.work-option-box.pop-in:nth-child(2) {
    animation-delay: 0.2s;
}

/* Keyframe Animations */
@keyframes bubble-effect {
    0% {
        transform: scale(0.9) rotate(0deg);
    }

    50% {
        transform: scale(1.1) rotate(180deg);
    }

    100% {
        transform: scale(0.95) rotate(360deg);
    }
}

@keyframes gradient-shift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


@keyframes popIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .hero-container {
        margin: 0 5%;
    }

    .work-options-container {
        width: 90vw;
        height: 100%;
        gap: 6vw;
        grid-template-columns: minmax(200px, 1fr);
        /* Single column on mobile */
        place-items: center;
    }

}

@media (orientation: portrait) {
    .hero h1 {
        font-size: clamp(2rem, calc(0.75rem + 3vh), 3rem);
    }

    .hero .image-container {
        width: clamp(150px, 25vh, 250px);
    }

    .hero p {
        font-size: clamp(1rem, calc(0.5rem + 1vh), 2rem);
    }

    .hero-buttons {
        font-size: clamp(1rem, 2vh, 2rem);
    }

    .hero-connectbtn,
    .hero-viewbtn {
        padding: clamp(14px, 2vh, 22px) clamp(22px, 4vw, 40px);
    }
}