.programming {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6vh;
    margin: 0% 10%;
    position: relative;
}

.programming-title {
    text-align: center;
}


.githubproj-text, .githubproj-panel, 
.techstack-text, .project-learning-stack, 
.eduprog-text, .tree-wrapper {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.githubproj-text.visible, .githubproj-panel.visible,
.stack-bubble-container.visible, .techstack-text.visible,
.upcoming-text.visible, .project-learning-stack.visible, .eduprog-text.visible,
.tree-wrapper.visible {
  opacity: 1;
}

.programming-title h1 {
    display: inline-block;
    font-size: clamp(2rem, 4vw, 50px);
    color: white;
    position: relative;
    text-shadow: 0 0 20px rgba(197, 72, 255, 0.4),
        0 0 30px rgba(234, 59, 59, 0.5);
    background: none;
}

.programming section h2 {
    font-size: clamp(2rem, 3vw, 3rem);
    color: white;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
}

.githubproj-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.githubproj-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/background/cs-section/sectiongithub.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.45;
    z-index: -1;
}

/* All Section Styling */
section {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    padding: 3vw;
    box-shadow: 0 0 15px rgba(197, 95, 244, 0.5),
        0 0 25px rgba(234, 59, 59, 0.4);
    overflow: hidden;
    animation: glowShift 5s ease-in-out infinite;
}

@keyframes glowShift {
    0% {
        box-shadow: 0 0 15px rgba(197, 95, 244, 0.5),
            0 0 25px rgba(234, 59, 59, 0.4);
    }

    25% {
        box-shadow: 2px -2px 20px rgba(210, 100, 250, 0.6),
            -2px 2px 30px rgba(245, 70, 70, 0.5);
    }

    50% {
        box-shadow: -4px 3px 25px rgba(197, 95, 244, 0.7),
            3px -4px 35px rgba(234, 59, 59, 0.6);
    }

    75% {
        box-shadow: 2px 2px 20px rgba(190, 90, 240, 0.6),
            -2px -2px 30px rgba(225, 50, 50, 0.5);
    }

    100% {
        box-shadow: 0 0 15px rgba(197, 95, 244, 0.5),
            0 0 25px rgba(234, 59, 59, 0.4);
    }
}

section::before {
    background-attachment: fixed;
}

.githubproj-panel {
    width: 100%;
    position: relative;
}

.grid-error-text {
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #ff76f8;
}

.grid-loading {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.repo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;

}

.repo-grid-item {
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.repo-item {
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    background: #0000007c;
    opacity: 0;
    height: 100%;
    animation: terminalGridPop 0.3s ease-in forwards;
}

.repo-grid-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0px 20px rgba(197, 95, 244, 0.6),
        0 5px 15px rgba(234, 59, 59, 0.4);
}

.repo-grid-item:active {
    transform: translateY(0px) scale(0.95);
    border-radius: 12px;
    border: 2px solid rgb(255, 146, 213);
}

.repo-item:active.repo-item::after {
    border: 2px solid rgb(255, 146, 213);
}

.repo-item::after {
    content: "";
    position: absolute;
    inset: -1px;
    border: 2px solid transparent;
    border-radius: 12px;
    z-index: 2;
    transition: border 0.2s ease;
}

.repo-item:hover::after {
    animation: borderDraw 0.2s ease-in forwards;
    border-color: white;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.652);
}

.repo-item:not(:hover)::after {
    animation: borderDrawReverse 0.2s ease-out forwards;
}

@keyframes borderDraw {
    0% {
        clip-path: inset(0 0 100% 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
    }
}

@keyframes borderDrawReverse {
    0% {
        clip-path: inset(0 0 0 0);
    }

    100% {
        clip-path: inset(0 0 100% 0);
    }
}

@keyframes terminalGridPop {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.repologo {
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.652);
    box-sizing: border-box;
    transition: 0.3s ease-in-out;
}

.repo-item:active .repologo {
    border-bottom: 2px solid rgb(255, 146, 213);
}

.repo-item:hover .repologo img {
    transform: scale(1.02);
}

.repologo img {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 0 3px rgba(255, 255, 255, 1),
        0 0 5px rgba(247, 193, 255, 0.5);
    transition: 0.3s ease-in-out;
}

.repo-info {
    padding: 20px;
    line-height: 1.5;
}

/* Repo Info Styling */
.repo-info h3 {
    margin: 0;
    font-size: 1.3rem;
}

.repo-info p {
    font-size: 1.2rem;
    color: #ffffffb9;
}

/* Terminal Overlay Styles */
.csterminal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px) brightness(95%);
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.csterminal-header {
    display: flex;
    align-items: center;
    padding: 20px;
    background: #383838;
    border-bottom: 2px solid #ffffff9a;
}

.csterminal-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.csterminal-buttons button {
    outline: none;
    width: clamp(16px, 3vw, 24px);
    aspect-ratio: 1;
    border-radius: 50%;
    animation: buttonPop 0.3s ease forwards;
    opacity: 0;
}

.csterminal-buttons button:nth-child(1) {
    animation-delay: 0.1s;
}

.csterminal-buttons button:nth-child(2) {
    animation-delay: 0.2s;
}

.csterminal-buttons button:nth-child(3) {
    animation-delay: 0.3s;
}


.redbtn {
    background-color: #dc4242;
    cursor: pointer;
}

.yellowbtn {
    background-color: #ff6549;
    cursor: pointer;
}

.purplebtn {
    background-color: #ad55ff;
    cursor: pointer;
}

.redbtn::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.redbtn:hover::after {
    content: "X";
    opacity: 1;
}

.yellowbtn::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.purplebtn:hover::after {
    content: ">";
    opacity: 1;
}

.purplebtn::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    opacity: 0;
    transition: all 0.3s ease;
}

.yellowbtn:hover::after {
    content: "<";
    opacity: 1;
}

/* Terminal Content */
.csterminal-content {
    max-width: 60%;
    flex: 1;
    padding: 20px;
    font-family: inherit;
    height: auto;
    overflow-y: show;
}

.csterminal-content h3 {
    font-size: clamp(28px, 5vw, 40px);
    display: inline-block;
    position: relative;
}

.csterminal-content h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 4px;
    background-color: #ccc;
}

.csterminal-content .p-languages {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 20px;
    font-size: clamp(18px, 4vw, 28px);
}

.p-languages img {
    vertical-align: middle;
    position: relative;
    top: -2.5px;
    margin-right: 5px;
    margin-left: 5px;
    width: clamp(18px, 4vw, 32px);
    aspect-ratio: 1;
}

.csterminal-content .p-description {
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.5;
    font-size: clamp(18px, 2vw, 22px);
}

.csterminal-content .p-intro {
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 1.5;
}

.terminal-url {
    margin-top: 20px;
    color: white;
    font-weight: 400;
    font-size: clamp(14px, 2vw, 20px);
}

.terminal-url a {
    font-size: clamp(14px, 2vw, 20px);
    background: linear-gradient(90deg, rgba(197, 95, 244, 1), rgba(234, 59, 59, 1));
    background-clip: text;
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in;
}


.terminal-url a:hover {
    text-shadow: 0 0 1px white;

}

.csterminal-content .p-updated {
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.80);
    font-weight: 400;
    font-size: clamp(14px, 1.5vw, 18px);
}


@keyframes buttonPop {
    0% {
        transform: scale(0) translateY(25px);
        opacity: 0;
    }

    70% {
        transform: scale(1.02) translateY(-2px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

.cs-blinking-cursor {
    display: inline-block;
    margin-left: 10px;
    animation: blink 0.5s infinite;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.techstack-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.techstack-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/background/cs-section/sectionstack.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.stack-bubble-container {
    background-color: rgba(20, 20, 20, 0.3);
    background-image: radial-gradient(rgba(163, 0, 103, 0.5) 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -5px -5px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    border-radius: 12px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    height: 500px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.stack-bubble-container:hover {
    border: 2px solid rgba(255, 255, 255, 1);
}

/* Styling for each tech bubble */
.tech-bubble {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    color: white;
    animation: float 6s ease-in-out infinite;
    cursor: pointer;
}


.bubbles {
    opacity: 0;
    transition: all 0.3s ease;
}

.bubbles.visible {
    opacity: 1;
}

/* Hover effect: scale up and pause animation */
.bubbles:hover {
    transform: scale(1.03);
    animation-play-state: paused;
}

.bubbles:hover .tech-name {
    text-shadow: 0 0 5px white;

}

.bubbles:hover img {
    filter: drop-shadow(0 0 3px rgb(255, 129, 253));
}

.tech-name {
    color: white;
}

@keyframes float {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(5px, -15px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.project-learning-stack-container {
    overflow: hidden;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.2), rgba(231, 158, 255, 0.1));
    background-size: 175% 175%;
    border: 2px solid rgba(255, 255, 255, 0.487);
    border-radius: 12px;
    width: 100%;
}

.project-learning-stack-container:hover {
    border-color: white;
}


.project-learning-stack {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 180px;
    overflow: hidden;
    position: relative;
}

.scrolling-items {
    display: flex;
    backface-visibility: hidden;
    flex-direction: row;
}

.project-learning-item {
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.project-learning-icon {
    height: 120px;
    width: auto;
    filter: drop-shadow(0 0 15px rgb(40, 40, 40));
    transition: all 0.3s ease;
}

.project-learning-text {
    margin-left: 10px;
    color: white;
    font-weight: 600;
    font-size: clamp(28px, 3vw, 32px);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.project-learning-item:hover .project-learning-text {
    text-shadow: 0 0 15px rgb(234, 163, 255);
    transform: scale(1.05);
}

.project-learning-item:hover .project-learning-icon {
    filter: drop-shadow(0 0 10px rgb(140, 140, 140));
}

.education-treesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
}

.education-treesection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/background/cs-section/sectiontree.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.45;
    z-index: -1;
}

.education-tree-container {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tree-wrapper {
    width: 100%;
}

.sakura {
    height: auto;
    width: 45vw;

}

.tree-wrapper h3 {
    position: relative;
    display: inline-flex;
    margin-bottom: 20px;
    /* makes the h3 shrink to its content */
    font-weight: 400;
    font-size: clamp(24px, 3vw, 32px);
    justify-content: center;
}

.tree-wrapper h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(218, 139, 255, 0.9),
            rgba(255, 58, 58, 0.7));
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.arrow-button {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    width: max(3rem);
    height: max(3rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.arrow-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0.5em;
}

.arrow-button.left {
    text-align: center;
    left: 10px;
}

.arrow-button.right {
    text-align: center;
    right: 10px;
}

.arrow-button:hover {
    border: 2px solid rgba(255, 255, 255, 1);
}

.arrow-button.left:hover {
    transform: scale(1.1) translateX(-5px);
}

.arrow-button.right:hover {
    transform: scale(1.1) translateX(5px);
}

.arrow-button.left:active {
    transform: scale(1) translateX(2px);
    background: #ff55a7;
    border-color: rgb(255, 133, 178);

}

.arrow-button.right:active {
    transform: scale(1) translateX(-2px);
    border-color: rgb(196, 133, 255);
    background: #ad55ff;
}

.course-label-text {
    font-size: 24px;
    fill: white;
}


@media (max-width: 768px) {
    .programming {
        margin: 0% 5%;
    }

    section::before {
        background-attachment: scroll;
    }

    .csterminal-content {
        max-width: 100%;
    }

    .repo-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }

    /* Repo Info Styling */
    .repo-info h3 {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    .repo-info p {
        font-size: 0.9rem;
    }

    .arrow-button-container {
        margin-bottom: 20px;
    }

    .arrow-button {
        position: relative;
        display: inline-flex;
        margin: 20px;
        width: 2em;
        height: auto;
        font-size: 2em;
    }

    .arrow-button.left {
        text-align: center;
        left: 0;
    }

    .arrow-button.right {
        text-align: center;
        right: 0;
    }

    .sakura {
        width: 90vw;
    }
}