/* Dino Game Overlay to Cover Screen */
.game-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 25vw;
    max-width: 1000px;
    max-height: 728px;
    background: rgba(58, 58, 58, 0.388);
    border-radius: 12px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.game-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    border-radius: 10px;
}

.dino {
    width: 5%;
    height: 12%;
    background-color: white;
    position: absolute;
    bottom: 10px;
    left: 10%;
    border-radius: 5px;
}

.jump {
    animation: jumpAnimation 0.4s ease-in-out;
}

@keyframes jumpAnimation {
    0% { bottom: 10px; }
    50% { bottom: 140px; }
    100% { bottom: 10px; }
}

.cactus {
    width: 3%;
    height: 15%;
    background-color: rgb(255, 0, 132);
    position: absolute;
    bottom: 10px;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

/* Score Styling */
.score {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    border-radius: 8px;
    text-align: center;
}