/* Full-screen Centered Layout */
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: white;
}

/* Large and Bold Text */
.under-construction {
    font-size: clamp(1rem, calc(3vw + 4vh), 10rem);
    font-weight: 600;
    width: 80%;
    text-transform: uppercase;
    background: linear-gradient(90deg, #bb8effd8, #ff8fec);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fade-in-text 0.5s ease-in-out, glow 1s infinite alternate;
}

/* Simple fade-in effect */
@keyframes fade-in-text {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Glowing Text Effect */
@keyframes glow {
    from {
        text-shadow: 0 0 15px rgba(255, 107, 107, 0.5), 0 0 20px rgba(87, 61, 217, 0.5);
    }
    to {
        text-shadow: 0 0 25px rgba(255, 107, 107, 0.8), 0 0 30px rgba(87, 61, 217, 0.8);
    }
}
