*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    background: linear-gradient(90deg, rgb(7, 0, 10),
    rgb(16, 0, 0));
    color: white;
    font-family: 'lexend';
}

body, html {
    overflow-x: hidden;
    height: 100%;
  }