*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    --color: rgba(225, 225, 225, 0.06);
    background-color: #000000;
    color: white;
    font-family: 'lexend';
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 160px 160px;
    height: 100vh;
}

body, html {
    overflow-x: hidden;
  }

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

  