*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    --color: rgba(225, 225, 225, 0.06);
    background-color: #000000;
    color: white;
    font-family: 'lexend';
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 160px 160px;
    height: 100vh;
    animation: gridMove 30s cubic-bezier(0.45, 0.05, 0.55, 0.85) infinite alternate;
}


body, html {
    overflow-x: hidden;
    height: 100%;
  }

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-loading {
    width: 100%;
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

.main-loading p {
    font-size: 4rem;
    animation: blink 2s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gridMove {
    0%   { background-position: 0px 0px; }
    10%  { background-position: 150px 20px; }
    20%  { background-position: 80px 60px; }
    30%  { background-position: 160px 30px; }
    40%  { background-position: 120px 100px; }
    50%  { background-position: 200px 140px; }
    60%  { background-position: 170px 200px; }
    70%  { background-position: 240px 180px; }
    80%  { background-position: 220px 100px; }
    90%  { background-position: 300px 50px; }
    100% { background-position: 400px 50px; }
  }

  